* {
    margin: 0;
    padding: .15em;
    line-height: 140%;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url(assets/Postlijn.png);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: -26em -5em;

    @media only screen and (min-width: 630px) {
        background-position: -5em -17em;
        background-size: 60em;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #f1f1f1;
    padding: 0.5rem 0.75rem 0;
    width: 100%;


    .navTabs {
        display: flex;
        gap: 0.25rem;


        .tab {
            text-decoration: none;
            color: var(--primaryAccentColor);
            padding: 0.45rem 0.9rem;
            border-radius: 8px 8px 0 0;
            font-size: 0.9rem;


            &.active {
                background: #ffffff;
                color: var(--darkSecundaryAccentColor);
                font-weight: 600;
                margin-bottom: -2px;
            }
        }
    }

    #buyImg {
        border: none;
        background: transparent;
        height: 2.2rem;
        width: 2.2rem;
        background-image: url("assets/winkelmandje.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
    }
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.75rem;

    .knopje {
        width: 5em;
    }
}

.link {

    text-decoration: none;
    color: var(--tertiaryAccentColor);
}


#logoImg {
    height: 4em;
    width: auto;
}

.headerButtons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;

    button {
        border: none;
        background-color: var(--primaryColor);
        max-width: 9em;
        color: var(--tertiaryAccentColor);
        cursor: pointer;
        display: none;

        @media only screen and (min-width: 630px) {
            display: block;
        }
    }
}

.loginLink {
    color: var(--primaryAccentColor);
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    grid-column: 8;
    margin-top: -2em;


    &:hover {
        text-decoration: underline;
    }
}

#hamburgerImg {
    height: 2.5em;
    width: auto;
    cursor: pointer;
    grid-column: 9;
    margin-top: -2em;
}

#headerImg {
    scale: .6;
    margin-top: -5em;

    @media only screen and (min-width: 940px) {
        margin-left: 50%;
        margin-top: -32em;
        scale: .7;
    }
}

H1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    line-height: 100%;
    text-align: left;
    color: var(--primaryAccentColor);

    @media only screen and (min-width: 630px) {
        font-weight: var(--font-weight-semibold);
        max-width: 10em;
    }
}

H2 {
    font-weight: var(--font-weight-normal);
}

.selectionMenu {
    width: 90%;
    margin: 1em auto 2em auto;

    @media only screen and (min-width: 630px) {
        width: 90%;
    }

    .menuimg {
        height: 2.5em;
    }

    .menuBtnAni {
        color: var(--secundaryAccentColor);
        animation: menuImgMove 1s linear;

        @media (prefers-reduced-motion) {
            animation: none;
        }
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        background: #e7e8eb;
        padding: 0.75rem;
        border-radius: 2px;


        .tabBtn {
            flex: 1;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.5rem 0.25rem;
            border-radius: 2px;
            color: var(--primaryAccentColor);
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;

            span {
                font-size: 0.75rem;
            }

            &:hover {
                background: rgba(95, 111, 255, 0.12);
            }

            &.active {
                background: #f1f1f2;
                color: var(--darkSecundaryAccentColor);
                font-weight: bold;
                margin-bottom: -1.4em;

                @media only screen and (min-width: 630px) {
                    background: #f1f1f2;
                }
            }
        }
    }
}

@keyframes menuImgMove {

    0% {
        translate: 0 -4px;
    }

    33% {
        translate: 0 -4px;
        rotate: -20deg;
    }

    66% {
        translate: 0 -4px;
        rotate: 20deg;
    }

    100% {
        translate: 0;
        rotate: 0;
    }
}

.card {
    background: #f1f1f2;
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

    section {
        display: none;


        &.active {
            display: block;
        }
    }

    h3 {
        color: var(--darkSecundaryAccentColor);
        margin-bottom: 1rem;
    }

    label {
        display: block;
        font-size: 0.8rem;
        color: #333;
        margin-bottom: 0.25rem;
    }

    input,
    select {
        width: 100%;
        padding: 0.75rem 0.9rem;
        margin-bottom: 1rem;
        border: 1px solid #d6d9e5;
        border-radius: 10px;
        font-size: 0.9rem;


        &:focus {
            outline: none;
            border-color: var(--primaryAccentColor);
            box-shadow: 0 0 0 2px rgba(95, 111, 255, 0.15);
        }
    }

    a {
        display: block;
        text-align: center;
        margin-top: 0.75rem;
        color: var(--primaryAccentColor);
        font-size: 0.9rem;
        text-decoration: none;



        &:hover {
            text-decoration: underline;
        }
    }


    .primaryBtn {
        width: 100%;
        padding: 0.9rem;
        border: none;
        border-radius: 12px;
        background: var(--primaryAccentColor);
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            filter: brightness(0.9);
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h3 {
    align-self: center;
    text-align: center;
}

.colouredArticles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;

    @media only screen and (min-width: 952px) {
        flex-direction: row;
    }

    .colouredArticle {
        width: 90%;
        max-width: 300px;
        height: 400px;
        border-radius: 5px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        background-image: url(assets/shine.png);
        background-size: 35em;
        background-repeat: no-repeat;
        background-position: 15em -4em;
        cursor: pointer;
        overflow: hidden;
        position: relative;

        &:hover {
            animation: cardShine 1s linear;

            @media (prefers-reduced-motion) {
                animation: none;
            }
        }

        &#cArticle1 {
            background-color: var(--darkSecundaryAccentColor);

        }

        &#cArticle2 {
            background-color: var(--tertiaryAccentColor);

        }

        &#cArticle3 {
            background-color: var(--primaryAccentColor);

        }

    }

    .cArticleIMG {
        padding-top: 2em;
        padding-left: 1em;
        height: auto;
        margin-bottom: 1rem;

    }

    h4 {
        font-size: 1.2rem;
        margin: 0.5rem 0 0.75rem;
        line-height: 1.3;
        color: var(--primaryColor)
    }

    p {
        color: var(--primaryColor);
    }

    .cardLink {
        display: block;
        padding: 1rem 1.25rem;
        background-color: rgba(0, 0, 0, 0.15);
        color: var(--primaryColor);
        text-decoration: none;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        &:hover {
            text-decoration: underline;
        }
    }

}

@keyframes cardShine {

    0% {
        background-position: 15em -4em;
        scale: 1;
    }

    50% {
        scale: 1.02;
    }

    100% {
        background-position: -25em 4em;
        scale: 1;
    }
}